@charset "utf-8";

a{ text-decoration:none; color:#333;}
body{font:normal 12px/1.5em nanum,sans-serif; color:#333333;
background-color:#ebebeb;}

@font-face{
		font-family:nanum;
		src:url('../font/NanumGothic.eot');
		src:url('../font/NanumGothic.eot?#iefix')format('embedded-opentype'),
			url('../font/NanumGothic.ttf')format('truetype'),
			url('../font/NanumGothic.woff')format('woff');
}



.header {width:100%;  position:fixed; background-color:#ebebeb;z-index:999; overflow: hidden; }
.header .header_inner {max-width: 1254px; min-width: 320px;
position:relative; margin:0 auto; padding-left:25px; padding-right:20px; box-sizing: border-box;}

.nav_logo_wrap {float:left; padding:11px 0 11px; display:inline-block;} 


.nav_left_wrap {float:left;}
.nav_left_wrap .nav_main {float:left; max-width:520px; height:98px; display:table; }
.nav_left_wrap .nav_main li {display:table-cell; padding-right:12px; padding-left:12px; vertical-align: top;}
.nav_left_wrap .nav_main li a{display: table-cell; height:98px; font:0.8rem; font-weight:bold; vertical-align: middle;}



.nav_right_wrap {float:right;display: table;}
.nav_right_wrap > .familysite_item_wrap{
    height:98px;
    display: table-cell;
    vertical-align: middle;
    margin-right:20px;
    float:right; font-family: 'Montserrat', sans-serif;
    color:#5f5f5f; font-size:1rem;}

.familysite_item_wrap .familysite {background:url(../img/down.png)no-repeat right; padding-right:20px;display: table-cell; vertical-align: middle;height:98px;}

.lang_item_wrap {display:table-cell; vertical-align: top;} 
.lang_item_korea {
    display:table-cell;
    vertical-align: middle;
    height:98px;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    color:#5f5f5f;
    font-weight: 500;
    background:url(../img/korea.png)no-repeat center left;
    padding-left:25px;
     }


.down_ico {background:url(../img/down.png)no-repeat right; padding-right:20px;}

.lang_item_un {display:none;}    
.nav_back-menu, .nav_ico {display: none;}
    



container{float:left;margin-top:95px; width:100%;}

.container_inner {float:left; width:90%; margin:0 5%;}
.main_slide_wrap {width:100%; position:relative;}
.slide_text_wrap {position:absolute; right:0; top:5%; width:96%;left:2%; font-family: 'Montserrat', sans-serif;}
.slide_text_wrap h1 {float:left; color:#eee;width:40%;display:block;
font-size:3.4rem;line-height:3.4rem;
font-weight:100;}
.slide_text_wrap h1 strong {float:left; width:100%; padding-top:10px; font-weight:bold;}
.main_message {width:60%; float:left; font-size:0.9rem; color:#eee;line-height:1.5rem;margin-top:30px;}
.main_message a {color:#eee; border:2px solid #eee; display:block; padding:8px; width:150px; text-align: center; font-weight: bold;margin-top:30px;}

.slide_img img{width:100%;}

.slide_btn_wrap { width:20%; height:15px;  position:absolute; bottom:10px;left:40%}
.slide_btn_wrap li {background:url(../img/btn.png) no-repeat; z-index: 99; width:12px; height:12px;float:left; margin:0 5px; }

.box_content_wrap {float:left; width:100%; }
.box {width:50%;float:left;position:relative;}

.box .title {position:absolute; top:5%; width:50%; left:25%;
text-align: center;font-size:1rem;}
.box .sub_title {position:absolute; top:10%; width:60%; left:20%;text-align:center;font-size:0.8rem;}
.box a {text-align: center;padding:15px; line-height:15px;
background-color:#000; color:#ffffff; font-size:15px; font-weight:bold;float:right; position:absolute; bottom:0;right:0;}
.box img {width:100%;}
.box_5 {width:100%;}
